$body_color: #457fa7
$headcolor: #fff
$font-family1: "Roboto"
$font-family2: "Montserrat"

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  background-color: $body_color
  overflow-x: hidden
  background-image: url(/images/vaccin_bg.png)

  &::-webkit-scrollbar
    width: 5px
    background-color: #f9f9fd

  &::-webkit-scrollbar-thumb
    border-radius: 10px
    background-color: #18aaaa

  &::-webkit-scrollbar-track
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2)
    border-radius: 10px
    background-color: #f9f9fd

/*-------------Шапка сайта-------------
.header
  background-color: $headcolor
  display: flex
  width: 100%
  height: 80px
  align-items: center
  justify-content: space-between
  border-bottom: 2px solid #000

  @media (max-width: 1200px)
    position: fixed
    height: 60px
    z-index: 900

/*-----------Mobile Nav-----------
@media (min-width: 1199px)
  .nav-mobile,
  .hamb,
  #side-menu
    display: none

#side-menu
  display: none

/*-------Hamburger-------
.hamb
  cursor: pointer
  position: fixed
  left: 0px
  top: 0
  padding: 28px 20px
  z-index: 1201

.hamb-line
  background-color: $body_color
  display: block
  height: 2px
  position: relative
  width: 24px

  &::after,
  &::before
    background-color: #457fa7
    content: ''
    display: block
    height: 100%
    position: absolute
    transition: all .2s ease-out
    width: 100%

  &::after
    top: -5px

  &::before
    top: 5px

.side-menu
  position: absolute
  top: 0

  &:checked
    ~ nav
      max-height: 100%

    ~ .hamb
      .hamb-line
        background: transparent

        &::before
          transform: rotate(-45deg)
          top: 0

        &::after
          transform: rotate(45deg)
          top: 0

.side-menu:checked ~ .hamb
  left: 235px
  transition: left .35s

  .hamb-line::before,
  .hamb-line::after
    background-color: #fff

/*-------------------------------
.nav-mobile
  width: 300px
  min-width: 300px
  height: 100%
  position: fixed
  top: 0
  bottom: 0
  margin: 0
  left: -340px
  padding: 15px 20px
  transition: left 0.3s
  background: $body_color
  z-index: 1000

  h2
    width: 90%
    padding: 0
    margin: 10px 0
    text-align: center
    text-shadow: rgba(255, 255, 255, 0.1) -1px -1px 1px, rgba(0, 0, 0, 0.5) 1px 1px 1px
    font-size: 1.3em
    line-height: 1.3em
    opacity: 0
    transform: scale(0.1, 0.1)
    transform-origin: 0% 0%
    transition: opacity 0.8s, transform 0.8s
    margin-top: 15px
    padding-left: 20%

    a
      color: lightblue
      text-decoration: none

  .logo_image
    position: absolute
    width: 60px
    height: 60px
    opacity: 0
    transform: scale(0.1, 0.1)
    transition: opacity 0.8s, transform 0.8s

  ul
    display: block
    margin: 30px 0
    padding: 0
    list-style: none

    li
      line-height: 2.5
      opacity: 0
      transform: translateX(-50%)
      transition: opacity .5s .1s, transform .5s .1s

      &:nth-child(2)
        transition: opacity .5s .2s, transform .5s .2s

      &:nth-child(3)
        transition: opacity .5s .3s, transform .5s .3s

      &:nth-child(4)
        transition: opacity .5s .4s, transform .5s .4s

      a
        display: inline-block
        position: relative
        padding: 0
        font-family: 'Open Sans', sans-serif
        font-weight: 300
        font-size: 1.2em
        color: rgb(217, 223, 224)
        width: 100%
        text-decoration: none
        transition: color .5s ease, padding .5s ease

        &:hover
          color: white
          padding-left: 15px

        &:before
          content: ''
          display: block
          position: absolute
          right: 0
          bottom: 0
          height: 1px
          width: 100%
          transition: width 0s ease

        &:after
          content: ''
          display: block
          position: absolute
          left: 0
          bottom: 0
          height: 1px
          width: 100%
          background: #3bc1a0
          transition: width .5s ease

        &:hover:before
          width: 0%
          background: #3bc1a0
          transition: width .5s ease

        &:hover:after
          width: 0%
          background: transparent
          transition: width 0s ease

[id='side-menu']:checked ~ .nav-mobile
  left: 0
  overflow-y: auto

@media screen and (min-width: 320px)
  html,
  body
    margin: 0
    overflow-x: hidden

@media screen and (max-width: 320px)
  html,
  body
    margin: 0
    overflow-x: hidden

  .nav-mobile
    width: 100%
    box-shadow: none

.block_info
  opacity: 0
  transform: scale(0.1, 0.1)
  transform-origin: 0% 0%
  transition: opacity 0.8s, transform 0.8s

[id='side-menu']:checked
  ~ .nav-mobile
    h2,
    .logo_image,
    .block_info
      opacity: 1
      transform: scale(1, 1)

[id='side-menu']:checked ~ .nav-mobile
  ul
    li
      opacity: 1
      transform: translateX(0)

.block_info
  font-family: $font-family2
  font-size: 15px
  color: #fff

  h3
    font-size: 21px
    padding: 5px 0 5px 0
    margin-bottom: 0
    text-align: center

  p
    text-align: center
    padding: 5px 0 5px 0

/*-----------Main Nav-----------
.nav
  font-family: $font-family1
  font-weight: 400
  font-size: 20px
  margin-left: 70px
  margin-top: 10px

.nav_links
  list-style-type: none
  display: flex
  justify-content: space-between

  li
    display: inline-block
    padding: 0px 50px

.nav__link
  @media (max-width: 1200px)
    display: none

  text-decoration: none
  color: rgba(0, 0, 0, 0.67)
  font-size: 30px
  font-family: $font-family1
  font-style: normal
  font-weight: 400
  transition: color 0.3s ease 0s, left 0.3s ease 0s

  &:after
    content: ""
    position: relative
    bottom: 0
    left: 50%
    display: block
    background: none repeat scroll 0 0 transparent
    height: 2px
    width: 0
    background: #1A708B
    transition: width 0.3s ease 0s, left 0.3s ease 0s

  &:hover,
  &:focus
    color: #47b8b8

  &:hover:after,
  &:focus:after
    color: $body_color
    width: 100%
    left: 0

.block_cont
  margin-top: 20%

/*-------------Строка поиска-------------
.cont2
  .search1
    @media (max-width: 1100px)
      display: none

/*----------Search Mobile------------
.search-box
  position: absolute
  margin-left: calc(115px + 435 * ((100vw - 320px) / (768 - 320)))
  top: 8px
  background-color: $body_color
  height: 39px
  border-radius: 50px
  transform: translateX(150px)
  transition: .5s

  &:hover
    transform: translateX(0px)

    input
      width: 150px
      padding: 0px 10px

    .icon
      background: #536179

      &:hover
        transform: rotate(360deg) scale(0.8)

  @media (min-width: 1199px)
    display: none

  input
    width: 0
    border: none
    background: none
    font-size: 15px
    transition: 0.5s ease
    line-height: 40px

    &:focus
      border: none

    &::placeholder
      color: rgba(255, 255, 255, 0.712)

.icon
  color: #5091bd
  float: right
  width: 35px
  font-size: 1.3rem
  height: 35px
  border-radius: 60%
  background: #555555
  display: flex
  justify-content: center
  transition: 0.4s
  cursor: pointer
  text-decoration: none
  margin: 2px

/*-----------------------------------
.search_field
  display: flex

  @media (max-width: 1200px)
    display: none

.search1
  margin-top: 15px
  width: 295px
  height: 40px
  position: relative
  padding-left: 6px
  font-size: 18px
  background-color: rgba(30, 170, 162, 0.3)
  border-radius: 6px
  border-color: rgba(30, 170, 162, 0)
  display: block

.butsearch
  position: absolute
  padding: 5px
  width: 40px
  height: 40px
  margin-top: 4px
  margin-left: 262px

.cont2
  display: flex
  align-items: center

/*------------------------------
.icon1
  position: relative
  margin-left: 50px
  top: 15px
  left: -10px
  width: 40px
  height: 40px
  border: none
  background: linear-gradient(135deg, rgba(130, 255, 255, 0.71) 0%, rgba(135, 140, 255, 0.347604) 51.04%, rgba(255, 0, 229, 0) 100%)
  filter: drop-shadow((-3px) 4px 4px rgba(0, 0, 0, 0.25))
  border-radius: 9px
  z-index: 1000

  ul
    position: absolute
    list-style: none
    text-align: left
    width: 200px
    height: 60px
    background: linear-gradient(96.84deg, #92F0CE 0%, rgba(158, 208, 224, 0.668229) 51.04%, rgba(8, 100, 239, 0.35) 100%)
    border-radius: 10px
    margin-top: 60px
    margin-left: 60px
    padding: 0
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2)
    display: block
    transform: translateX(210px)
    visibility: hidden

  &:hover,
  &:focus
    cursor: pointer

    ul
      visibility: visible
      transform: translateX(-210px)
      transition: 2s

.tel
  color: white
  text-decoration: none
  margin-left: 40px

.tele
  position: absolute
  width: 25px
  height: 25px
  margin-top: 7px
  margin-left: 8px

/*---------------Main---------------

main
  font-family: $font-family2
  color: rgba(255, 255, 255, 0.95)
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

  @media (max-width: 1200px)
    margin-top: 60px

.block_main
  padding-top: 3px
  padding-bottom: 20px
  padding-left: calc(23px + (85 - 23) * ((100vw - 320px) / (1920 - 320)))
  padding-right: calc(23px + (85 - 23) * ((100vw - 320px) / (1920 - 320)))

  p
    font-size: calc(13px + 18 * (100vw / 1920))
    text-align: justify
    padding-bottom: 25px

  ul
    li
      list-style-type: disc
      font-size: calc(12px + 18 * (100vw / 1920))

.block_1
  display: flex
  justify-content: space-between
  margin: 30px 0 20px 0

  @media (max-width: 700px)
    flex-direction: column

    .block_p1
      order: 2
      padding: 15px 0 0 0
      margin: 0
      width: 100%

    .block_img1
      order: 1

.block_2
  display: flex
  justify-content: space-between
  margin: 25px 0 25px 0

  @media (max-width: 700px)
    flex-direction: column

.block_p1
  width: 50%
  font-size: calc(12px + 18 * (100vw / 1920))
  margin: auto
  text-align: center
  padding-right: 30px

.block_p2
  width: 50%
  font-size: calc(12px + 18 * (100vw / 1920))
  margin: auto
  padding-left: 30px

  @media (max-width: 700px)
    text-align: justify
    padding: 15px 0 0 0
    margin: 0
    width: 100%

h2
  color: #fff
  text-align: center
  margin: 20px 0 20px 0

h4
  font-family: $font-family1
  font-weight: 600
  padding: 10px 0 10px 0

h3
  text-align: center

.t_img1
  width: 100%
  max-width: 780px
  max-height: 450px
  border-radius: 60px

.block_img2
  display: flex
  justify-content: center
  padding: 15px 0 15px 0

.t_img2
  width: 100%
  max-width: 570px
  max-height: 320px
  border-radius: 60px

/*---------------Навигация по карточкам--------------

.left_arrow
  width: 23px
  height: 40px
  border-radius: 6px
  background-color: rgba(0, 0, 0, 0.4)
  padding: 9px 0 0 0px
  position: fixed
  top: 40vh
  left: 3px

.right_arrow
  width: 23px
  height: 40px
  border-radius: 6px
  background-color: rgba(0, 0, 0, 0.4)
  padding: 9px 0 0 1px
  position: fixed
  top: 40vh
  right: 3px

/*----------------- Footer  -----------------

.footer
  background-image: url(/images/backfoto.png)
  background-color: #737373
  position: absolute
  width: 100%
  margin-bottom: 0

.foo_nav
  font-size: 20px
  margin-left: 0px
  margin-top: 0px

  @media (max-width: 700px)
    display: none

  @media (min-width: 701px) and (max-width: 999px)
    display: none

.foo_navlinks
  list-style-type: none
  display: flex
  justify-content: center

.foo_navlinks
  li:first-child
    border-left: 0px solid #bbb

  li
    display: inline-block
    border-right: 0px solid #bbb
    height: 30px

.f_navlink
  display: inline
  position: relative
  padding: 0 40px 0 40px
  text-decoration: none
  color: #fff
  font-size: 23px
  font-family: $font-family1
  font-style: normal
  font-weight: 400
  transition: color 0.3s ease 0s, left 0.3s ease 0s

  &:hover,
  &:focus
    color: #cecece

.foo_navlinks
  li
    &::before
      content: ""
      position: absolute
      background-color: #fff
      width: 1px
      height: 23px
      top: 6px
      z-index: 100

    &:nth-child(4)::after
      content: ""
      position: absolute
      background-color: #fff
      width: 1px
      height: 23px
      top: 6px
      z-index: 100

.foo_main
  display: flex
  justify-content: space-around
  align-items: center

  @media (max-width: 1200px)
    flex-direction: column

    .foo1
      order: 2

    .foo2
      order: 1

    .foo3
      order: 3

.foo1,
.foo2,
.foo3
  color: #fff

/*----------Foo 1----------

.foo1
  position: relative
  font-size: 30px
  display: flex
  flex-direction: column

  p
    font-family: $font-family2
    font-size: calc(25px + 10 * (100vw / 1920))
    display: inline-block
    text-shadow: -6px 5px 4px rgba(0, 0, 0, 0.25)
    border-bottom: 2px solid #41AFC8

    @media (max-width: 1200px)
      display: flex
      justify-content: center

.cont_icons
  display: flex
  justify-content: center
  padding-top: 7%

.icon_1
  width: 50px
  height: 50px

.icon_2
  width: 50px
  height: 50px
  margin-left: 10px
  margin-right: 10px

.icon_3
  width: 45px
  height: 45px

/*----------Foo 2----------

.foo2
  display: flex
  margin-top: 22px

  @media (max-width: 1200px)
    justify-content: center

.logo_small
  width: 65px
  height: 65px
  margin-top: 12px

  @media (max-width: 1200px)
    margin-top: 0

.foo21
  padding-left: calc(13px + 18 * ((100vw - 320px) / (1366 - 320)))
  font-size: 25px

  @media (max-width: 700px)
    font-size: 10px

.li1
  list-style-image: url(/icons/gmail_log11.png)
  font-family: $font-family2
  font-size: calc(13px + 15 * (100vw / 1920))

  a
    text-decoration: none
    color: #fff

.li2
  font-family: $font-family2
  list-style-image: url(/icons/map-point1.png)
  font-size: calc(13px + 15 * (100vw / 1920))
  color: #fff

/*----------Foo 3----------

.foo3
  padding-top: 3%

  p
    font-family: $font-family2
    font-size: calc(25px + 10 * (100vw / 1920))
    margin-left: 15px
    padding-bottom: 6%

    @media (max-width: 700px)
      display: flex
      justify-content: center

.cont44
  display: flex
  justify-content: center
  margin-top: -5%
  padding-bottom: 3%

.foo3_1
  display: flex
  flex-direction: column
  margin-top: 2px
  margin-right: 12px

.imgf2
  margin-top: 25px

.li31
  color: #fff
  list-style-type: none
  font-family: $font-family2
  font-size: calc(19px + 5 * (100vw / 1920))
  text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25)
